    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Aggies' Autonomous Auto</h2>
              <br/>
                <p>A<sup>3</sup> - Aggies' Autonomous Auto representing NC A&T State University at Autodrive Challenge. On May 2017, General Motors (GM) and SAE International selected North Carolina A&T State University  as one of eight North American universities to compete in the AutoDrive Challenge over the next three years. The announcement was made during the SAE World Congress Experience (WCX2017) in Detroit.</p>

        				<p>During this challenge, GM will provide NC A&T team with a Chevrolet Bolt EV as the vehicle platform. Strategic partners and suppliers such as Intel will aid the team in technology development by providing vehicle parts and software. The AutoDrive Challenge  is a three-year challenge to develop and demonstrate a fully autonomous passenger vehicle. The technical goal of this 3-year challenge  is to leverage the autonomy level of the car to navigate an urban driving course in an automated driving mode.</p>

				        <p>This newly established, three-year competition will task faculty and students at some of the world's top universities with developing and demonstrating a fully operational autonomous driving passenger vehicle.  The technical goal of the competition is to navigate an urban driving course in an automated driving mode by year three.</p>

				        <p>"GM is very excited to work closely with these eight universities over the next three years," said Ken Kelzer, GM vice president of Global Vehicle Components and Subsystems.  This project opens new avenues for NC A&T students both at graduate and undergraduate levels. 10 graduate students and approximately 40 undergraduate students across multiple disciplines will be directly involved in this project with lots of research and hands-on experiences focusing on autonomous technologies by allowing for modification and testing a full-scale electrical car. The students will work with real-world applications of sensing technologies, computing platforms, software design implementation and advanced computation methods such as computer vision, pattern recognition, machine learning, artificial intelligence, sensor fusion and autonomous vehicle controls.</p>

				        <p>The AutoDrive Challenge creates a great opportunity for NC A&T students to showcase their abilities nationally and globally at the forefront of technological innovation in automotive industries. Participation in this challenge also provide the NC A&T students with the access to a wide network of researchers and peers as well as great resources in automotive industries SAE International community.</p>

				        <p>North Carolina A&T University is participating in the competition alongside seven other universities including Michigan State University,  Michigan Technical University, Kettering University,  Texas A&M University, University of Toronto, University of Waterloo and Virginia Tech.</p>
                <br/>
              </div>
        </div>
    </section>
